
<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Enter new password</title>
{% comment %} <link rel="stylesheet" href="/static/admin/css/base.css"> {% endcomment %}

  {% comment %} <link rel="stylesheet" href="/static/admin/css/dark_mode.css"> {% endcomment %}


{% comment %} <link rel="stylesheet" href="/static/admin/css/forms.css"> {% endcomment %}



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% comment %} <link rel="stylesheet" href="/static/admin/css/responsive.css"> {% endcomment %}
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Student-Portal</a></h1>

        </div>
        
        
        
        
    </div>
    
    <!-- END Header -->
    
{% comment %} <div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; Password reset confirmation
</div> {% endcomment %}

    

    <div class="main" id="main">
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colM">
          
          <h1>Enter new password</h1>
          
          



<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="l6bY2WpMWm77Nc4nnY5p0twR4tB42bM3tXm2VWnsVE0g04QZfq6UZ9dW6Kzms2Fq">
    {%  csrf_token %}
{% comment %} <fieldset class="module aligned"> {% endcomment %}
    {% comment %} <input class="hidden" autocomplete="username" value="klrahul">
    <div class="form-row field-password1"> {% endcomment %}
        
        <label for="id_new_password1">New password:</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
    </div>
    <div class="form-row field-password2">
        
        <label for="id_new_password2">Confirm password:</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
    </div>
    <input type="submit" value="Change my password">
{% comment %} </fieldset> {% endcomment %}
</form>




          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
